footer {
  height: 23%;
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 76%;
  /* box-sizing: content-box; */
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}
